<h1> This is the HOME page.</h1>

<p>This is how this game is played:</p>

<ul>
<li>It it is a draw when both hands show the same item, nobody wins</li>
<li>Paper wins against rock</li>
<li>Scissors wins against paper</li>
<li>Rock wins against scissors</li>
</ul>
